body {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  text-align: center;
  font-size: 3em;
}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 10px;
  top: 100px;
}

#navbar-header {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.nav-link {
  margin-bottom: 10px;
}

#main-doc {
  margin-left: 220px;
}

.section-header {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  background-color: rgb(211, 205, 205);
}

@media (max-width: 800px) {
  #header {
    margin-left: 80px;
  }
}

@media (max-width: 599px) {
  body {
    min-width: auto;
  }

  #header {
    margin-left: 200px;
  }
}

.example {
  font-style: italic;
}

#footer {
  margin-top: 50px;
  margin-bottom: 20px;
}